*{
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box !important;
    font-size: 1rem !important;
    font-family: Arial, Helvetica, sans-serif !important;
    color: white !important;
    list-style: none !important;
}
body{
    background-color: #e8e8e8;
}

h1{
    font-weight: bold !important;
    font-size: 1.2rem !important;
    width: 100%;
    text-align: center;
}


.granbox{
    width: 100%;
    max-width: 1440px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carde{
    width: 100%;
    max-width: 400px;
    height: 500px;

    padding: 10px !important;
    display: grid;
    grid-template-areas: 'buttons'
                         'picture'
                         'resume';
    grid-template-columns: 1fr;
    grid-template-rows: 5% 35% 60%;

    border-radius: 10px;
    background-color: #011522;
    box-shadow:  10px 10px 20px #bdbdbd,
             -10px -10px 20px #ffffff;
}


.buttons{
    grid-area: buttons;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 5px;
}
.buttons span{
    display: block;
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 100px;
}
span.green{
    background-color: #00ca4e;
}
span.yellow{
    background-color: #ffbd44;
}
span.red{
    background-color: #ff605c;
}

.picture{
    grid-area: picture;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 5px;
}
.picture div{
    width: 130px;
    height: 130px;
    border-radius: 100px;
    background-color: #ffffff;
}


/* Resume */
.resume{
    width: 100%;
    height: 100%;
    padding: 10px !important;

    margin-top: 20px !important;
    grid-area: resume;
    /* background-color: #bdbdbd12; */
}

/* Info */
.resume .info p{
    text-align: center;
    font-size: .8rem !important;
    color: #dbdbdb !important;
}







/* Social */
.resume .social{
    width: 100%;
    display: flex;
    margin-top: 15px !important; 
    gap: 15px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.resume .social li{
    width: 35px;
    height: 35px;

    border-radius: 100px;
    background-color: #bdbdbd;
}

.resume .social li a{
    width: 100%;
    height: 100%;
    padding: 5px !important;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.resume .social li:nth-child(1){
    background-color: rgb(237, 11, 120);
}
.resume .social li:nth-child(2){
    background-color: rgb(54, 54, 240);
}
.resume .social li:nth-child(3){
    background-color: rgb(146, 231, 19);
}
.resume .social li:nth-child(4){
    background-color: blueviolet;
}
.resume .social li a ion-icon{
    width: 100%;
    height: 100%;
}

footer{
    width: 100%;
    margin-top: 20px !important;
    text-align: center;
}
footer p{
    color: #0115226f !important;
    font-size: 0.5 !important;

}   